  <style> 
  .date {
  font-size : 10px;
  color: red;
  }
  .rank {
   font-size : 20px;
  color: blue;
  }
  .email {
  font-size: 12px;
  }
  </style>
  <h1>Feedbacks about our chips</h1>
  <p>
	<ul>
	 {{#each opinions}}
		<li><span><b>{{name}}</b></span>- <span class='email'>{{email}}</span> - <span class='date'>{{formatDate date day="numeric" month="numeric" year="numeric"}} </span>  -  <span class='rank'><i>{{rank}}</i></span> <br> {{feed}}</li>
	{{/each}}
	</ul>
  </p>

