<div>
	{% for k, v in pairs(items) do %}
		<li><b>{{v["id"]}}</b> Name: {{v["chipname"]}} type: {{v["chipType"]}},
			Release date: {{v["release-date"]}}, Price: {{v["price"]}}
		</li>
	{% end %}
</div>
 